@model TimesheetTaskAdd.Models.WarDrawing

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@Html.Raw(TempData["InsertMasage"])
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>WarDrawing</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Drw_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Drw_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Drw_Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Drw_StDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Drw_StDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Drw_StDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Drw_EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Drw_EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Drw_EndDate, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>


    </div>


    <div class="container">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Drw_Est, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Drw_Est, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Drw_Est, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Drw_Archive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Drw_Archive)
                        @Html.ValidationMessageFor(model => model.Drw_Archive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

        </div>
        <div class="col-md-1">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Create","SubTask")';" class="btn btn-default" />
                </div>
            </div>


        </div>


    </div>


    <table class="table table-striped">


        <tr>
            <th>Id</th>
            <th>Job / Task Number</th>
            <th>Job / Task Name</th>
            <th>Start Date </th>
            <th>End Date </th>
            <th>Job / Task Estimated Hrs.</th>
            <th>Job / Job / Allocated Hrs.</th>
            <th>Job / Task Additional Allocated Hrs.</th>
            <th>Job / Task Estimate</th>
            <th>Job / Task Consumed Hrs.</th>
            <th>Task % Completion.</th>
            <th>Job / Task Status</th>
            <th>Add / View</th>

        </tr>
        @foreach (var item in ViewBag.warjobslist)
        {
            <tr>
                <td>@item.Job_Id</td>
                <td>@item.Job_No</td>
                <td>@item.Job_Name</td>
                <td>@item.Job_StDate</td>
                <td>@item.Job_EndDate</td>
                <td></td>
                <td></td>
                <td></td>
                <td>@item.Job_Est</td>
                <td></td>
                <td></td>
                <td>@item.Job_Archive</td>
                <td>@Html.ActionLink("Deliverable / Sub-Task", "Index", "Home")</td>
                

            </tr>

        }

    </table>


    <table>
        <tr>
            <td></td>
        </tr>
    </table>




















</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
